main {
    background-color: hsl(0, 0%, 8%);
    overflow: hidden;
}

.section-about {
    margin: 20vh 0 6% 0;
}

.section-title {
    @include h4-header;
}

#about {
    display: inline-block;
    margin: 10vh 0 0;
    height: 120vh;
    width: 100%;
    @include coco-light(3px);
    .about-me {
        display: flex;
        justify-content: center;
        width: 100%;
        .profile-pic {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .about-description {
            width: 57%;
            margin-left: 5%;
            background-color: #151515;
            align-content: center;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
    }

}

.resume {
    text-align: center;
    margin-top: 5%;
    letter-spacing: 0.5px;
    p {
        margin-bottom: 30px;
        font-family: $coco-regular;
        letter-spacing: 5px;
        color: lightsteelblue;
    }
    a {
        border: 2px solid white;
        padding: 0.5% 2%;
        letter-spacing: 2px;
        margin: 1%;
        font-size: 1.2rem;
    }

}

.btn.first {
    background-color: rgba(150,215,200,0.6);
    color: black;
}

.btn.second {
    background-color: rgba(176,127,229,0.6);
    color: black;

}


.btn:hover {
    letter-spacing: 2.5px;
    background: rgba(255, 255, 255, 0.6);
    color: black;
}

.profile-pic img {
    border: 7px solid $primary-white;
    border-radius: 12px;
}

.about-description p {
    padding-top: 2.5%;
    line-height: 1.8;
    font-size: 0.9rem;
    i {
        font-size: 1rem;
    }
    span {
        position: relative;
        z-index: 0;
        
        &::after {
            @include gradient-underline(8px);
        }
        a:hover {
            letter-spacing: 3.5px;
            font-family: $coco-regular;
        }
    }

}

.keep-scrolling {
    font-size: 17px;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    padding: 10% 0 1%;
    line-height: 1;
    color: white;
}

.about-description h5 {
    font-size: 2.1vw;
    margin: 3% 0 0;
    font-family: $coco-regular;
}

