main {
    background-color: #151515;
    overflow: hidden;
}
.arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.section-title {
    @include h4-header;
}


#about {
    margin: 8vh 0 8vh;
    height: 100vh;
    width: 100%;
    @include coco-light(3px);
    .about-me {
        display: flex;
        justify-content: center;
        width: 100%;
        .profile-pic {
            width: 30%;
        }
        .about-description {
            width: 60%;
            margin-left: 5%;
            background-color: #151515;
            align-content: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
    }

}

.profile-pic img {
    border: 7px solid $primary-white;
    border-radius: 12px;
}

.about-description p {
    padding-bottom: 2.5%;
    line-height: 1.5;
    i {
        font-size: 1.3rem;
    }
    span {
        position: relative;
        z-index: 0;
        font-family: $coco-regular;
        &::after {
            @include gradient-underline(8px);
        }
        a:hover {
            letter-spacing: 4px;
        }
    }

}

.about-description h5 {
    font-size: 1.5rem;
    margin-bottom: 3%;
    font-family: $coco-regular;
}
