.typewriter {
  -webkit-animation: typewriter 2.7s steps(44) 2s 1 normal both, blinkTextCursor 1000ms steps(44) infinite normal;
  animation: typewriter 2.7s steps(44) 2s 1 normal both, blinkTextCursor 1000ms steps(44) infinite normal; }

@-webkit-keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 28vw; } }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 28vw; } }

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

.line {
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
