@font-face {
    font-family: 'playlistscript';
    src: url('../assets/webfontkit/playlist_script-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/playlist_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'coco_gothic_alternateXBlk';
    src: url('../assets/webfontkit/coco-gothic-alternate-fat-trial-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/coco-gothic-alternate-fat-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'coco_gothiclight';
    src: url('../assets/webfontkit/coco-gothic-light-trial-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/coco-gothic-light-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coco_gothicregular';
    src: url('../assets/webfontkit/coco-gothic-regular-trial-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/coco-gothic-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coco_gothicultralight';
    src: url('../assets/webfontkit/coco-gothic-ultralight-trial-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/coco-gothic-ultralight-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'portrait_scriptregular';
    src: url('../assets/webfontkit/portraitscript-regular-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/portraitscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'portrait_scriptalts_-_bold';
    src: url('../assets/webfontkit/portraitscript-alts-bold-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/portraitscript-alts-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'portrait_scriptalts';
    src: url('../assets/webfontkit/portraitscript-alts-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/portraitscript-alts-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'portrait_scriptbold';
    src: url('../assets/webfontkit/portraitscript-bold-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/portraitscript-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'portrait_scriptbounce_-_bold';
    src: url('../assets/webfontkit/portraitscript-bounce-bold-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/portraitscript-bounce-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'portrait_scriptbounce';
    src: url('../assets/webfontkit/portraitscript-bounce-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/portraitscript-bounce-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}