body {
    background-image: url(../assets/img-1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: fixed;
    color:white;
}

h2 {
    font-family: 'coco_gothiclight';
    letter-spacing: 17px;
    margin: 0 auto;
    font-size: 25px;
    background-color: black;
    width: 600px;
    text-align: center;
    padding: 7px 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .main-title {
        margin: 15vh 0 3%;
    }
}
 
.my-path {
    fill: white;
    stroke:white;
    stroke-width: 3;
    max-width: 100%;
}

.view-portfolio {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    h3 {
        font-family: 'coco_gothiclight';
        font-size: 0.8rem;
        letter-spacing: 4px;
        text-align: center;
    }
    
}

.scroll-text {
    background: linear-gradient(90deg, rgba(176,127,229,1) 0%, rgba(150,215,200,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}