body {
    // height: 100vh;
    color: $primary-white;
}


.typed {
    font-family: 'coco_gothiclight';
    letter-spacing: 14px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    padding: 7px 0;
    background-color: black;
    &::after {
        content: '|';
        display: inline;
        animation: blink 0.7s infinite;
    }
}

.typed-cursor {
    opacity: 0;
    display: none;
}

header {
    background-image: url(../assets/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    background-color: $primary-black;
    transition: 0.5s all ease;
    background-position: center;
    
    .main-title {
        margin: 15vh 0 2%;
    }
}

.my-path {
    fill: white;
    stroke:white;
    stroke-width: 3;
    max-width: 100%;
}

.view-portfolio {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    h3 {
        font-family: 'coco_gothiclight';
        font-size: 0.8rem;
        letter-spacing: 4px;
        text-align: center;
    }
    
}

.scroll-text {
    background: linear-gradient(90deg, rgba(176,127,229,1) 0%, rgba(150,215,200,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mq-title-1 {
    display: none;
}
.mq-title-2 {
    display: none;
}
.mq-title-3 {
    display: none;
}
