@mixin coco-light ($letter-spacing) {
    font-family: 'coco_gothiclight', sans-serif;
    letter-spacing: $letter-spacing;
    color: $primary-white;
}



@mixin h4-header {
    font-family: 'portrait_scriptbounce';
    font-size: 12vw;
    text-align: center;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-underline ($height) {
    width: 100%;
    height: $height;
    background: linear-gradient(90deg, rgba(176,127,229,0.4) 0%, rgba(150, 215, 200, 0.4) 100%); 
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}