#showcase {
    width: 100%;
}

.section-title.showcase-title {
    padding-bottom: 0;
}

.showcase-container {
    display: flex;
    margin: 3% 0;
    .showcase-description {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
        h5 {
           letter-spacing: 7px;
           font-family: 'coco_gothicregular';
           font-size: 2rem;
        }
        p {
            @include coco-light(3px);
            padding-bottom: 3%;
            line-height: 1.3;
        }
    }
    .showcase-pic {
        width: 55%;
    }
}

.langs {
    margin-bottom: 5%;
    span {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.langs ~ p {
    font-size: 0.9rem;
}

.live-github {
    margin-top: 5%;
    text-align: center;
    a {
        letter-spacing: 0;
    }
}



.site-links {
    margin-top: 4%;
    a {
        border: 1.5px solid white;
        padding: 1% 2%;
        letter-spacing: 2px;
        margin: 2%;
        font-size: 1.1rem;
    }
    .btn.first {
        margin-left: 0;
    }
}

.mobile-showcase-pic {
    display: none;
}



