$primary-black: #151515;
$primary-white: #F2F2F2;
$gradient: linear-gradient(90deg, rgba(176,127,229,1) 0%, rgba(150,215,200,1) 100%);
$coco-light: 'coco_gothiclight', sans-serif;
$coco-regular: 'coco_gothicregular', sans-serif;
$portrait-regular: 'portrait_scriptregular', sans-serif;