article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  -webkit-font-smoothing: antialiased; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 125%; }

img {
  width: 100%;
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%; }

@font-face {
  font-family: 'playlistscript';
  src: url("../assets/webfontkit/playlist_script-webfont.woff2") format("woff2"), url("../assets/webfontkit/playlist_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothic_alternateXBlk';
  src: url("../assets/webfontkit/coco-gothic-alternate-fat-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-alternate-fat-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothiclight';
  src: url("../assets/webfontkit/coco-gothic-light-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-light-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothicregular';
  src: url("../assets/webfontkit/coco-gothic-regular-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-regular-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothicultralight';
  src: url("../assets/webfontkit/coco-gothic-ultralight-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-ultralight-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptregular';
  src: url("../assets/webfontkit/portraitscript-regular-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptalts_-_bold';
  src: url("../assets/webfontkit/portraitscript-alts-bold-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-alts-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptalts';
  src: url("../assets/webfontkit/portraitscript-alts-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-alts-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptbold';
  src: url("../assets/webfontkit/portraitscript-bold-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptbounce_-_bold';
  src: url("../assets/webfontkit/portraitscript-bounce-bold-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-bounce-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptbounce';
  src: url("../assets/webfontkit/portraitscript-bounce-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-bounce-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-image: url(../assets/img-1.jpg);
  background-size: cover;
  height: 100vh;
  background-position: fixed;
  color: white; }

h2 {
  font-family: 'coco_gothicultralight';
  letter-spacing: 20px;
  margin: 0 auto;
  font-size: 25px;
  background-color: black;
  width: 475px;
  text-align: center;
  padding: 7px 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header .main-title {
    margin: 20vh 0 2%; }

.my-path {
  fill: white;
  stroke: white;
  stroke-width: 3;
  max-width: 100%; }

.typewriter {
  -webkit-animation: typewriter 2.4s steps(44) 2s 1 normal both, blinkTextCursor 1000ms steps(44) infinite normal;
  animation: typewriter 2.4s steps(44) 2s 1 normal both, blinkTextCursor 1000ms steps(44) infinite normal; }

.line {
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@-webkit-keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 475px; } }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 475px; } }

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }
