article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  -webkit-font-smoothing: antialiased; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 125%; }

img {
  width: 100%;
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none;
  -webkit-transition: 0.7s all ease;
  -o-transition: 0.7s all ease;
  transition: 0.7s all ease;
  color: white; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%; }

body {
  font-family: 'coco_gothiclight'; }

@font-face {
  font-family: 'playlistscript';
  src: url("../assets/webfontkit/playlist_script-webfont.woff2") format("woff2"), url("../assets/webfontkit/playlist_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothic_alternateXBlk';
  src: url("../assets/webfontkit/coco-gothic-alternate-fat-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-alternate-fat-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothiclight';
  src: url("../assets/webfontkit/coco-gothic-light-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-light-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothicregular';
  src: url("../assets/webfontkit/coco-gothic-regular-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-regular-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coco_gothicultralight';
  src: url("../assets/webfontkit/coco-gothic-ultralight-trial-webfont.woff2") format("woff2"), url("../assets/webfontkit/coco-gothic-ultralight-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptregular';
  src: url("../assets/webfontkit/portraitscript-regular-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptalts_-_bold';
  src: url("../assets/webfontkit/portraitscript-alts-bold-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-alts-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptalts';
  src: url("../assets/webfontkit/portraitscript-alts-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-alts-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptbold';
  src: url("../assets/webfontkit/portraitscript-bold-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptbounce_-_bold';
  src: url("../assets/webfontkit/portraitscript-bounce-bold-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-bounce-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'portrait_scriptbounce';
  src: url("../assets/webfontkit/portraitscript-bounce-webfont.woff2") format("woff2"), url("../assets/webfontkit/portraitscript-bounce-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  color: #F2F2F2; }

.typed {
  font-family: 'coco_gothiclight';
  letter-spacing: 14px;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  padding: 7px 0;
  background-color: black; }
  .typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite; }

.typed-cursor {
  opacity: 0;
  display: none; }

header {
  background-image: url(../assets/img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120vh;
  background-color: #151515;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-position: center; }
  header .main-title {
    margin: 15vh 0 2%; }

.my-path {
  fill: white;
  stroke: white;
  stroke-width: 3;
  max-width: 100%; }

.view-portfolio {
  position: absolute;
  bottom: 2vh;
  left: 2vw; }
  .view-portfolio h3 {
    font-family: 'coco_gothiclight';
    font-size: 0.8rem;
    letter-spacing: 4px;
    text-align: center; }

.scroll-text {
  background: -webkit-gradient(linear, left top, right top, from(#b07fe5), to(#96d7c8));
  background: -webkit-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
  background: -o-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
  background: linear-gradient(90deg, #b07fe5 0%, #96d7c8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.mq-title-1 {
  display: none; }

.mq-title-2 {
  display: none; }

.mq-title-3 {
  display: none; }

.typewriter {
  -webkit-animation: typewriter 2.4s steps(44) 0.5s 1 normal both, blinkTextCursor 1000ms steps(44) infinite normal;
  animation: typewriter 2.4s steps(44) 0.5s 1 normal both, blinkTextCursor 1000ms steps(44) infinite normal;
  border-right: 3px solid rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@-webkit-keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 75%; } }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 75%; } }

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.mouse-scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 10%; }

.scroll-arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid rgba(176, 127, 229, 0.8);
  border-bottom: 2px solid rgba(150, 215, 200, 0.8);
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px; }

.one {
  margin-top: 1px; }

.one,
.two,
.three {
  -webkit-animation: mouse-scroll 1.4s infinite;
  -moz-animation: mouse-scroll 1.4s infinite;
  animation: mouse-scroll 1.4s infinite; }

.one {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
  animation-delay: alternate; }

.two {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px; }

.three {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px; }

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid white;
  top: 170px; }

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite; }

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }

@-o-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }

@keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-6-20 16:16:30
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

.nav-content {
  display: none;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }
  .nav-content li {
    margin: 2%;
    -webkit-transition: 0.8s all ease;
    -o-transition: 0.8s all ease;
    transition: 0.8s all ease; }
    .nav-content li a {
      color: white;
      font-family: 'coco_gothiclight';
      font-size: 1.5rem;
      letter-spacing: 9px;
      -webkit-transition: 0.8s all ease;
      -o-transition: 0.8s all ease;
      transition: 0.8s all ease;
      position: relative; }

.nav-overlay {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

.nav-content li a:hover {
  -webkit-transition: 0.8s all ease;
  -o-transition: 0.8s all ease;
  transition: 0.8s all ease;
  letter-spacing: 11px; }

.nav-content li a:hover::after {
  width: 100%;
  height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(176, 127, 229, 0.5)), to(rgba(150, 215, 200, 0.5)));
  background: -webkit-linear-gradient(left, rgba(176, 127, 229, 0.5) 0%, rgba(150, 215, 200, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(176, 127, 229, 0.5) 0%, rgba(150, 215, 200, 0.5) 100%);
  background: linear-gradient(90deg, rgba(176, 127, 229, 0.5) 0%, rgba(150, 215, 200, 0.5) 100%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; }

.visible-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

.visible-content {
  position: relative;
  display: block;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

.nav-icon {
  width: 28px;
  height: 20px;
  top: 20px;
  position: fixed;
  z-index: 100;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 30px; }
  .nav-icon:hover {
    right: 35px;
    padding-right: 2%; }

.nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#b07fe5), to(#96d7c8));
  background: -webkit-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
  background: -o-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
  background: linear-gradient(90deg, #b07fe5 0%, #96d7c8 100%);
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  width: 37px; }

.nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center; }

.nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  width: 37px; }

.nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }

.nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 24px;
  left: 8px; }

main {
  background-color: #151515;
  overflow: hidden; }

.section-about {
  margin: 12vh 0 6% 0; }

.section-title {
  font-family: 'portrait_scriptbounce';
  font-size: 12vw;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#b07fe5), to(#96d7c8));
  background: -webkit-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
  background: -o-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
  background: linear-gradient(90deg, #b07fe5 0%, #96d7c8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#about {
  display: inline-block;
  margin: 10vh 0 0;
  height: 120vh;
  width: 100%;
  font-family: 'coco_gothiclight', sans-serif;
  letter-spacing: 3px;
  color: #F2F2F2; }
  #about .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
    #about .about-me .profile-pic {
      width: 35%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    #about .about-me .about-description {
      width: 57%;
      margin-left: 5%;
      background-color: #151515;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }

.resume {
  text-align: center;
  margin-top: 5%;
  letter-spacing: 0.5px; }
  .resume p {
    margin-bottom: 30px;
    font-family: "coco_gothicregular", sans-serif;
    letter-spacing: 5px;
    color: lightsteelblue; }
  .resume a {
    border: 2px solid white;
    padding: 0.5% 2%;
    letter-spacing: 2px;
    margin: 1%;
    font-size: 1.2rem; }

.btn.first {
  background-color: rgba(150, 215, 200, 0.6);
  color: black; }

.btn.second {
  background-color: rgba(176, 127, 229, 0.6);
  color: black; }

.btn:hover {
  letter-spacing: 2.5px;
  background: rgba(255, 255, 255, 0.6);
  color: black; }

.profile-pic img {
  border: 7px solid #F2F2F2;
  border-radius: 12px; }

.about-description p {
  padding-top: 2.5%;
  line-height: 1.8;
  font-size: 0.9rem; }
  .about-description p i {
    font-size: 1rem; }
  .about-description p span {
    position: relative;
    z-index: 0; }
    .about-description p span::after {
      width: 100%;
      height: 8px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(176, 127, 229, 0.4)), to(rgba(150, 215, 200, 0.4)));
      background: -webkit-linear-gradient(left, rgba(176, 127, 229, 0.4) 0%, rgba(150, 215, 200, 0.4) 100%);
      background: -o-linear-gradient(left, rgba(176, 127, 229, 0.4) 0%, rgba(150, 215, 200, 0.4) 100%);
      background: linear-gradient(90deg, rgba(176, 127, 229, 0.4) 0%, rgba(150, 215, 200, 0.4) 100%);
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -2; }
    .about-description p span a:hover {
      letter-spacing: 3.5px;
      font-family: "coco_gothicregular", sans-serif; }

.keep-scrolling {
  font-size: 17px;
  width: 20%;
  text-align: center;
  margin: 0 auto;
  padding: 10% 0 1%;
  line-height: 1;
  color: white; }

.about-description h5 {
  font-size: 2.1vw;
  margin: 3% 0 0;
  font-family: "coco_gothicregular", sans-serif; }

#showcase {
  width: 100%; }

.section-title.showcase-title {
  padding-bottom: 0; }

.showcase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0; }
  .showcase-container .showcase-description {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2%; }
    .showcase-container .showcase-description h5 {
      letter-spacing: 7px;
      font-family: 'coco_gothicregular';
      font-size: 2rem; }
    .showcase-container .showcase-description p {
      font-family: 'coco_gothiclight', sans-serif;
      letter-spacing: 3px;
      color: #F2F2F2;
      padding-bottom: 3%;
      line-height: 1.3; }
  .showcase-container .desktop-showcase-pic {
    width: 55%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .showcase-container .showcase-pic {
    width: 55%; }

.langs {
  margin-bottom: 5%; }
  .langs span {
    background: -webkit-gradient(linear, left top, right top, from(#b07fe5), to(#96d7c8));
    background: -webkit-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
    background: -o-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
    background: linear-gradient(90deg, #b07fe5 0%, #96d7c8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.langs ~ p {
  font-size: 0.9rem; }

.live-github {
  margin-top: 5%;
  text-align: center; }
  .live-github a {
    letter-spacing: 0; }

.site-links {
  margin-top: 4%; }
  .site-links a {
    border: 1.5px solid white;
    padding: 1% 2%;
    letter-spacing: 2px;
    margin: 2%;
    font-size: 1.1rem; }
  .site-links .btn.first {
    margin-left: 0; }

.mobile-showcase-pic {
  display: none; }

.dev-icons {
  margin: 1% 0;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

i {
  font-size: 4rem; }

.icons-half {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 65%;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center; }
  .icons-half p {
    padding: 10% 0;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    color: white; }

.icon:hover {
  color: #96D7C8; }
  .icon:hover p {
    color: white;
    letter-spacing: 1.5px;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }

.arrow-with-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1%; }
  .arrow-with-line .vertical-line {
    border-right: rgba(255, 255, 255, 0.7) 1px solid;
    height: 170px; }

.arrow-main {
  position: absolute;
  bottom: -300px;
  left: 50vw; }

.show-case-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px; }

.skills-arrow {
  margin-top: 50px; }

#contact {
  padding-bottom: 4%; }
  #contact h4 {
    margin-bottom: 6%; }
  #contact h5 {
    letter-spacing: 5px;
    font-family: 'coco_gothicregular';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4%; }
  #contact .social-icons {
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 2%; }
    #contact .social-icons i {
      font-size: 3rem; }
      #contact .social-icons i:hover {
        color: #96D7C8;
        -webkit-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        transition: 0.5s all ease; }
  #contact p {
    text-align: center;
    padding: 1% 0;
    font-size: 1.3rem;
    margin: 4% 0;
    background: -webkit-gradient(linear, left top, right top, from(#b07fe5), to(#96d7c8));
    background: -webkit-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
    background: -o-linear-gradient(left, #b07fe5 0%, #96d7c8 100%);
    background: linear-gradient(90deg, #b07fe5 0%, #96d7c8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800; }

.social-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2% 0; }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#a995de), color-stop(50%, #96d7c8), to(#9ebed0));
  background: -webkit-linear-gradient(left, #a995de 0%, #96d7c8 50%, #9ebed0 100%);
  background: -o-linear-gradient(left, #a995de 0%, #96d7c8 50%, #9ebed0 100%);
  background: linear-gradient(90deg, #a995de 0%, #96d7c8 50%, #9ebed0 100%);
  border: 6px solid white;
  width: 72%;
  margin: 0 auto;
  padding: 2%; }
  .contact-form input[type=submit] {
    border: none;
    padding: 1% 3%;
    letter-spacing: 2px;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    background-color: white;
    color: black;
    border: 3px solid black; }
    .contact-form input[type=submit]:hover {
      background-color: black;
      color: white;
      border: 3px solid white;
      -webkit-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease;
      letter-spacing: 4px; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  margin: 2%; }
  .contact-container label {
    font-family: "coco_gothicregular", sans-serif;
    color: white;
    padding-bottom: 2%;
    letter-spacing: 1px; }
  .contact-container input,
  .contact-container textarea {
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
    margin-top: 1%;
    border: none;
    padding: 1%; }
    .contact-container input:focus,
    .contact-container textarea:focus {
      border-bottom: 3px solid black;
      -webkit-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease;
      background-color: transparent; }

p.email {
  font-family: 'Questrial', sans-serif;
  font-size: 8px;
  letter-spacing: 3px; }

footer {
  background-color: #6a6a6a;
  border-top: 3px solid white; }
  footer p {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding: 0.5% 0;
    letter-spacing: 2px; }

@media (max-width: 1250px) {
  .desktop-title {
    display: none; }
  .mq-title-1 {
    display: block; }
  .typed {
    font-size: 18px; }
  header {
    background-position: center; }
  .about-description p {
    font-size: 0.7rem; } }

@media (max-width: 928px) {
  #about {
    margin: 5vh 0 0; }
  header {
    background-size: auto 85%; }
    header .main-title {
      margin: 20vh 0 2%; }
  footer p {
    font-size: 14px; }
  .arrow-main {
    bottom: -200px; }
  .section-about {
    margin: 10vh 0 6% 0; }
  .mq-title-1 {
    display: none; }
  .mq-title-2 {
    display: block; }
  .typed {
    font-size: 16px; }
  .view-portfolio h3 {
    font-size: 0.6rem; }
  .about-description p {
    font-size: 0.6rem; }
  #about .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #about .about-me .profile-pic {
      width: 50%;
      margin-bottom: 5%; }
    #about .about-me .about-description {
      width: 100%; }
    #about .about-me .about-description h5 {
      font-size: 24px; }
  @-webkit-keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 75%; } }
  @keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 75%; } }
  .keep-scrolling {
    width: 40%; }
  #showcase {
    margin-top: 10%; }
  .showcase-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .showcase-container .showcase-description {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .showcase-container .showcase-description h5 {
        font-size: 1.8rem;
        text-align: center; }
      .showcase-container .showcase-description p {
        font-size: 17px;
        text-align: center; }
    .showcase-container .showcase-pic,
    .showcase-container .desktop-showcase-pic {
      width: 100%;
      padding-top: 30px; }
    .showcase-container .site-links {
      width: 100%;
      text-align: center; }
  .desktop-showcase-pic.large {
    display: none; }
  .mobile-showcase-pic {
    display: block; }
  .arrow-with-line .vertical-line {
    height: 100px; }
  .resume {
    margin: 10% 0; }
    .resume p {
      font-size: 20px; }
    .resume a {
      font-size: 18px; }
  i {
    font-size: 3.5rem; }
  .icons {
    margin: 0 5%; }
  .social-icons a {
    margin: 0 2%; }
  .icons-half p {
    font-size: 15px; } }

@media (max-width: 636px) {
  .arrow-main {
    bottom: -175px; }
  .section-title {
    margin-top: 20px;
    font-size: 70px; }
  header {
    background-size: auto 80%; }
    header .main-title {
      margin: 17vh 0 2%; }
  .mq-title-2 {
    display: none; }
  .mq-title-3 {
    display: block; }
  .typed {
    margin: 2% 5%;
    font-size: 17px;
    letter-spacing: 10px; }
  #about .about-me .about-description h5 {
    font-size: 20px; }
  .keep-scrolling {
    width: 60%;
    font-size: 15px; }
  .showcase-container .showcase-description h5 {
    font-size: 1.5rem;
    text-align: center; }
  .showcase-container .showcase-description p {
    font-size: 15px;
    text-align: center; }
  #contact h5 {
    font-size: 1.5rem; }
  #contact .social-icons i {
    font-size: 2rem; }
  .contact-form {
    font-size: 0.6rem;
    width: 100%; }
  .contact-container {
    width: 70%; }
  .icons-half a {
    margin: 0 2%; } }

@media (max-width: 595px) {
  #showcase {
    margin-top: 15%; }
  #about .about-me .profile-pic {
    width: 75%; }
  #about .about-me .about-description h5 {
    font-size: 16px; }
  @-webkit-keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 75%; } }
  @keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 75%; } } }

@media (max-width: 500px) {
  header {
    background-size: auto 80%; }
  #about .about-me .about-description h5 {
    font-size: 16px; }
  @-webkit-keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 95%; } }
  @keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 95%; } }
  #contact h5 {
    font-size: 1.2rem; }
  .typed {
    margin: 5% 2%;
    font-size: 16px;
    letter-spacing: 7px; } }

@media (max-width: 488px) {
  #showcase {
    margin-top: 20%; }
  #about .about-me .about-description h5 {
    font-size: 15px; }
  @-webkit-keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 100%; } }
  @keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 100%; } }
  i {
    font-size: 2.5rem; }
  .icons-half p {
    font-size: 13px; }
  #contact .social-icons i {
    font-size: 1.6rem; } }

@media (max-width: 380px) {
  #about .about-me .profile-pic {
    width: 85%; }
  .section-about {
    margin: 5vh 0 6% 0; }
  .typed {
    margin: 8% 2%;
    font-size: 16px;
    letter-spacing: 5px; } }
