@import "partials/_setup.scss";
@import "partials/_mixins.scss";
@import "partials/_variables.scss";
@font-face {
    font-family: 'playlistscript';
    src: url('../assets/webfontkit/playlist_script-webfont.woff2') format('woff2'),
         url('../assets/webfontkit/playlist_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 125%;
}

img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: 0.4s all ease;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	width: 80%;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.817);
    text-align: center;
}

body {
    background-image: url(../assets/img-3.jpg);
    background-size: cover;
    height: 100vh;
}